
# Sistemas de Suporte à Decisão

---------------

# TPC 3


Crie um ficheiro em python para trabalhar o dataset 

```python 
    datasets.california_housing
```

Nesse ficheiro, crie um script (função) por alínea que lhe permita gerar novos datasets a partir do dataset principal, onde tenha usado cada um dos seguintes métodos de pre-processamento: 

    1) Aggregation
    2) Sampling
    4) Dimensionality Reduction 
    5) Feature Subset Selection 
    6) Feature Creation 
    7) Discretization and Binarization 
    8) Attribute Transformation


O que é feito em cada caso, é da sua inteira liberdade.

In [0]:
import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Dataset and DataFrame
data = datasets.california_housing.fetch_california_housing()
dframe = pd.DataFrame(data = data.data, columns=data.feature_names)

dframe.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [0]:
#Aggregation

agg = dframe.agg(["mean"])
agg

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
mean,3.870671,28.639486,5.429,1.096675,1425.476744,3.070655,35.631861,-119.569704

In [0]:
#Sampling
samp = dframe.sample(3)
samp

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
6182,3.2813,28.0,5.144847,1.005571,1999.0,2.784123,34.10,-117.91
17590,4.7287,46.0,5.172881,0.994915,1373.0,2.327119,37.31,-121.91
13406,3.5488,8.0,4.768219,0.974696,3310.0,3.350202,34.09,-117.46

In [0]:
#Dimensionality Reduction

from sklearn.decomposition import PCA
pca = PCA(3)
pca.fit(dframe)
columns = ['pca_%i' % i for i in range(3)]
df_pca = pd.DataFrame(pca.transform(dframe), columns=columns, index=dframe.index)
df_pca.head()

         pca_0      pca_1     pca_2
0 -1103.512648   8.566636 -0.774104
1   975.541244  -4.670418 -1.025681
2  -929.549908  20.034651 -1.972737
3  -867.550048  20.331441 -2.314929
4  -860.550411  20.328827 -2.695158

In [0]:
#Feature Subset Selection

fss = dframe[['AveRooms','AveBedrms','AveOccup', 'HouseAge']][0:6]
fss

   AveRooms  AveBedrms  AveOccup  HouseAge
0  6.984127   1.023810  2.555556      41.0
1  6.238137   0.971880  2.109842      21.0
2  8.288136   1.073446  2.802260      52.0
3  5.817352   1.073059  2.547945      52.0
4  6.281853   1.081081  2.181467      52.0
5  4.761658   1.103627  2.139896      52.0

In [0]:
#Feature Creation

new_data = np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
names = data.feature_names + ["Preços"]
dframe = pd.DataFrame(data=new_data, columns=names)
dframe.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,452600.0
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,358500.0
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,352100.0
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,341300.0
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,342200.0

In [0]:
#Discretization and Binarization

bin = dframe.Population[0:10]
pd.get_dummies(bin)

,322.0,413.0,496.0,558.0,565.0,1094.0,1157.0,1206.0,1551.0,2401.0
0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0
8,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,0,0,1,0

In [0]:
#Attribute Transformation

dframe.transform(lambda x: x/x.mean())

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços
0,2.150842,1.431590,1.286448,0.933558,0.225889,0.832251,1.063093,1.022249,2.187997
1,2.144693,0.733253,1.149040,0.886206,1.684349,0.687098,1.062532,1.022165,1.733091
2,1.874972,1.815675,1.526641,0.978819,0.347954,0.912593,1.062252,1.022333,1.702152
3,1.457913,1.815675,1.071533,0.978466,0.391448,0.829772,1.062252,1.022416,1.649942
4,0.993678,1.815675,1.157092,0.985781,0.396359,0.710424,1.062252,1.022416,1.654292
5,1.042920,1.815675,0.877078,1.006339,0.289728,0.696886,1.062252,1.022416,1.303807
6,0.945340,1.815675,0.908437,0.867497,0.767463,0.693144,1.061971,1.022416,1.446418
7,0.806062,1.815675,0.883685,0.968221,0.811658,0.582369,1.061971,1.022416,1.166996
8,0.537478,1.466507,0.790959,1.019123,0.846033,0.660084,1.061971,1.022500,1.095932
9,0.953633,1.815675,0.915562,0.902907,1.088057,0.707428,1.061971,1.022416,1.262232
10,0.827531,1.815675,1.008954,0.984432,0.638383,0.737198,1.062252,1.022500,1.360851
11,0.844944,1.815675,0.879072,0.934208,1.055086,0.667299,1.062252,1.022500,1.168930
12,0.794436,1.815675,0.980411,0.923537,0.770269,0.764056,1.062252,1.022500,1.032120
13,0.690733,1.815675,0.736784,1.000936,0.242024,0.645712,1.061971,1.022500,0.924799
14,0.495185,1.815675,0.785210,0.920671,0.850242,0.636619,1.062252,1.022500,0.769618
15,0.549000,1.745841,0.781438,0.977472,0.488959,0.859801,1.062252,1.022500,0.676800
16,0.716930,1.815675,1.094046,0.955924,0.556305,0.780215,1.062252,1.022583,0.737228
17,0.547760,1.815675,0.746510,0.881753,0.454585,0.696468,1.062252,1.022583,0.751731
18,0.514407,1.745841,0.984284,0.990192,0.694504,0.769467,1.061971,1.022500,0.767201
19,0.672571,1.815675,1.006715,0.988111,0.484049,0.817119,1.061971,1.022583,0.787505
20,0.350792,1.396673,0.833320,1.010722,0.286922,0.802388,1.062252,1.022583,0.713057
21,0.442688,1.466507,0.824856,0.914338,0.651712,0.826616,1.062252,1.022583,0.772519
22,0.445659,1.815675,0.938706,1.032028,0.712042,0.691524,1.061971,1.022583,0.550625
23,0.563365,1.815675,0.956686,0.945515,0.598396,0.854741,1.061971,1.022583,0.481978
24,0.671718,1.815675,0.970739,0.944259,0.705729,0.776345,1.061971,1.022583,0.641026
25,0.621029,1.431590,0.828108,0.942497,0.222382,0.867524,1.062252,1.022667,0.519686
26,0.635471,1.710925,0.870885,0.930923,0.425822,0.827103,1.062252,1.022667,0.453456
27,0.467102,1.815675,0.880615,0.966971,0.773075,0.903983,1.062252,1.022667,0.510017
28,0.424319,1.745841,0.810774,0.948475,0.793419,0.778700,1.061971,1.022667,0.526454
29,0.435971,1.815675,0.866315,0.941261,0.277100,0.829916,1.061971,1.022667,0.638126
...,...,...,...,...,...,...,...,...,...
20610,0.352161,0.977671,0.893707,1.005317,0.838316,0.886487,1.097333,1.016645,0.219960
20611,0.332165,0.942754,0.802986,0.983190,0.815867,0.926031,1.097333,1.016562,0.227211
20612,0.385825,0.907838,0.949955,0.986981,0.533856,0.928202,1.096771,1.016645,0.233496
20613,0.386445,1.082422,0.828882,0.866730,0.818673,0.989711,1.097052,1.016562,0.258151
20614,0.638003,0.907838,0.884452,0.884915,1.020711,0.999663,1.096771,1.016478,0.280389
20615,0.609662,0.803087,1.006065,0.999792,0.507900,1.196854,1.096771,1.016478,0.277971
20616,0.528823,0.523752,0.889053,1.072332,0.811658,1.004780,1.096771,1.016395,0.266369
20617,0.853108,0.698337,0.906438,0.871854,0.216068,0.879863,1.096210,1.016395,0.342267
20618,0.581295,0.872921,1.085615,0.996576,0.509303,1.046158,1.096210,1.016562,0.306494
20619,0.705382,0.768170,1.176739,1.047392,0.717655,1.125519,1.094807,1.016645,0.479078
20620,1.178736,1.396673,0.759808,0.778869,0.105929,1.024483,1.095929,1.015976,0.483429
20621,0.611289,1.291923,1.459489,1.434562,0.339536,1.003956,1.094807,1.015893,0.374657
20622,0.624362,0.698337,0.885783,0.853768,0.320594,0.947950,1.094526,1.015642,0.323897
20623,0.729460,1.117338,0.939643,0.980135,0.419509,0.857915,1.095368,1.015056,0.316646
20624,0.794152,0.558669,1.074793,0.940049,0.512811,0.818075,1.095649,1.015391,0.421550
20625,1.065707,1.291923,1.341999,1.107243,0.020344,0.674588,1.097894,1.016311,0.348069
20626,0.559774,1.257006,1.210739,0.981169,0.353566,0.959850,1.099578,1.015558,0.453456
20627,0.775059,0.174584,1.117664,1.004577,0.118557,0.932832,1.098174,1.014638,0.785571
20628,0.670478,0.663420,0.964904,0.984327,0.714147,0.850065,1.097333,1.015976,0.446688
20629,0.541069,0.977671,1.016725,0.930907,4.848904,1.238166,1.097894,1.015224,0.523553
20630,0.921623,0.384085,1.092758,1.034793,0.881810,0.919908,1.102665,1.014638,0.541440
20631,0.908861,0.523752,1.132038,1.040603,0.841824,0.904621,1.103787,1.015307,0.518235
20632,0.807354,0.523752,1.109482,0.985269,0.734491,0.885635,1.101823,1.015726,0.558843
20633,0.658671,0.942754,1.002952,0.983458,0.759044,0.922429,1.099858,1.016395,0.475210
20634,0.959136,0.977671,1.248677,1.047034,0.730282,0.985510,1.102104,1.016645,0.564645
20635,0.403108,0.872921,0.929353,1.033427,0.592784,0.833896,1.107997,1.012715,0.377558
20636,0.660557,0.628503,1.126181,1.199799,0.249741,1.016984,1.108278,1.013718,0.372723
20637,0.439200,0.593586,0.958840,1.021353,0.706430,0.757374,1.106594,1.013802,0.446205
20638,0.482397,0.628503,0.981675,1.068612,0.519826,0.691452,1.106594,1.014638,0.409464
20639,0.617102,0.558669,0.967898,1.059807,0.973008,0.852255,1.104910,1.013969,0.432185